{% extends 'base.html' %}

{%block title%}Login{%endblock%}

{% block content %}

<div style="padding-left:50px; padding-top:20px">
    <h1>Login!</h1>
    {% if error %}
    <br/>
    <p style="color:red">{{ error }}</p>
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        Username:<br/>
        <input type="text" name="username"/>
        <br/>
        Password:<br/>
        <input type="password" name="password"/>
        <br/><br/>
        <input class="btn btn-primary" type="submit" value="Login">
    </form>
</div>

{% endblock %}